@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins&display=swap');

html,body {
    background-color: #fff;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    align-items: center;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;

 }
}

.display-6{
    margin-top: 1.5rem!important;
    font-size: calc(1.200rem + 1.2vw);
    line-height: 1;
    color: #212529!important;
}

/* Definição de cores */
.text-primary{
    color: #18A5FF!important;
}

.bg-info{
    color: #18A5FF;
}

.btn-outline-primary{
    color: #18A5FF;
    border-color: #18A5FF;
}

.btn-outline-primary:hover{
    border: 1px #18A5FF;
    background-color: #18A5FF;
}

.shadow{
    width: 60%;
    box-shadow: 0 .5rem 1rem rgba(24, 165, 255, .5)!important;
}

.form-control{
    border: 1px solid #18A5FF!important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}
